html {
  font-family: Verdana;
  color: White;
  text-align: center;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 42px;
  font-weight: 300;
}
p {
  font-size: 21px;
  color: Gray;
}
.copyright {
  text-align: right;
}
a {
  color: Aquamarine;
  font-size: 16px;
}
